
<h1>Edit Category</h1>
<div class="row">
   
    <div class="col-sm-4">
        <form action="/admin/categories/edit/{{category.id}}?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input value={{category.name}} type="text" name="name" class="form-control" placeholder="Enter title">
                </div>
                <button class="btn btn-primary">Update it</button>
        </form>
    </div>
</div>